@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot?hlnfvx');
  src:  url('../icons/icomoon.eot?hlnfvx#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?hlnfvx') format('truetype'),
    url('../icons/icomoon.woff?hlnfvx') format('woff'),
    url('../icons/icomoon.svg?hlnfvx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-1:before {
  content: "\e901";
}
.icon-schedule:before {
  content: "\e8b5";
}
.icon-add:before {
  content: "\e145";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-clear_all:before {
  content: "\e0b8";
}
.icon-exposure_plus_1:before {
  content: "\e3cd";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-format_align_left:before {
  content: "\e236";
}
.icon-format_quote:before {
  content: "\e244";
}
.icon-headset:before {
  content: "\e310";
}
.icon-keyboard_arrow_down-o:before {
  content: "\a029";
}
.icon-keyboard_arrow_left-o:before {
  content: "\a030";
}
.icon-keyboard_arrow_right-o:before {
  content: "\a031";
}
.icon-keyboard_arrow_up-o:before {
  content: "\a032";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-pause:before {
  content: "\e034";
}
.icon-play:before {
  content: "\e037";
}
.icon-playlist_add_check:before {
  content: "\e065";
}
.icon-playlist_play:before {
  content: "\e05f";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-subject:before {
  content: "\e8d2";
}
.icon-chat-3:before {
  content: "\e902";
}
.icon-comment:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-bookmark:before {
  content: "\e906";
}
.icon-email:before {
  content: "\e907";
}
.icon-heart4:before {
  content: "\e908";
}
.icon-star2:before {
  content: "\e909";
}
.icon-clock:before {
  content: "\e90b";
}
.icon-stopwatch:before {
  content: "\e90e";
}
.icon-flame:before {
  content: "\f0d2";
}
.icon-gift2:before {
  content: "\f042";
}
.icon-heart3:before {
  content: "\2665";
}
.icon-location2:before {
  content: "\f060";
}
.icon-megaphone:before {
  content: "\f07a";
}
.icon-organization:before {
  content: "\f037";
}
.icon-ruby:before {
  content: "\f047";
}
.icon-zap:before {
  content: "\26a1";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-heart-broken:before {
  content: "\e9db";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-heart2:before {
  content: "\e90a";
}
.icon-star:before {
  content: "\e90d";
}
.icon-music:before {
  content: "\e900";
}
.icon-vynil:before {
  content: "\e903";
}

