doctype html
html(lang="es")
	head 
		meta(charset="utf-8")
		title Taliam | Remix's
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="author", content="Taliam")
		meta(name="description", content="Dale un giro a tu día, viviendo la música electrónica de una manera diferente.")
		meta(name="keyword", content="taliam, musica electronica, dj, latinoamerica, lo ultimo de la musica electronica, taliam.co, vive la musica de una manera diferente, dale un giro a tu dia, lo mejor de la musica electronica")
		link(rel="icon", type="image/png", href="client/img/taliam-logo-circular.png")
		link(rel="stylesheet", type="text/css", href="client/css/footer.css")
		link(rel="stylesheet", type="text/css", href="client/css/materialize.min.css")
		link(rel="stylesheet", type="text/css", href="client/css/remix.css")
		link(rel="stylesheet", type="text/css", href="client/css/sweetalert.css")
		link(rel="stylesheet", type="text/css", href="client/css/menu-fijo.css")
	body 
		include blocks/menu-fijo.pug
		section.section-remix-container
			.container
				.row.row-encabezado(style="margin-bottom: 40px;")
					.col.s12.col-encabezado
						span.icon-vynil
						p Remix's Disponibles:	
				.row.row-remix
					.col.s12.l6.col-remix
						.remix-content
							.remix-image.remix-image1
								audio.remix-1(src="client/taliam-remix/remix1.mp3")
								.remix-background-color
									.button-play-pause
										span.icons-play-pause-1.icon-play
							.remix-footer
								p Troye Sivan - WILD (Young Bombs Remix) ft. Alessia Cara
							.locked-song
								.days-released
									p Falta 1 día para ser liberado
								span.icon-locked1
								a.btn.button-liberate-song Liberar
							.guess
								.content
									p La siguiente canción, comienza con la letra:
									.row-letters
										p.first-letter-remix1 F
										p.first-letter-remix1 A
										p.first-letter-remix1 Y
						a(href="https://www.youtube.com/watch?v=0x8Nt7sMwxc", target="_blank").btn.button-youtube
							| Ver en 
							span.icon-youtube2
						.like-dislike
							span.icon-heart.icon-like-dislike-1
							span.icon-heart-broken.icon-like-dislike-1
					.col.s12.l6.col-remix
						.remix-content
							.remix-image.remix-image2
								audio.remix-2(src="client/taliam-remix/remix2.mp3")
								.remix-background-color
									.button-play-pause
										span.icons-play-pause-2.icon-play
							.remix-footer
								p marshmello - Alone (Speaker of the House Remix)
							.locked-song
								.days-released
									p Falta 1 día para ser liberado
								span.icon-locked1
								a.btn.button-liberate-song Liberar
							.guess
								.content
									p La siguiente canción, comienza con la letra:
									.row-letters
										p.first-letter-remix2 F
										p.first-letter-remix2 A
										p.first-letter-remix2 Y
						a(target='_blank').btn.button-youtube.button-soundcloud.button-remix2
							| Escuchar en 
							span.icon-soundcloud
						.like-dislike
							span.icon-heart.icon-like-dislike-2
							span.icon-heart-broken.icon-like-dislike-2
					.col.s12.l6.col-remix
						.remix-content
							.remix-image.remix-image3
								audio.remix-3(src="client/taliam-remix/remix3.mp3")
								.remix-background-color
									.button-play-pause
										span.icons-play-pause-3.icon-play
							.remix-footer
								p Jesper Jenset - High (Young Bombs Remix)
							.locked-song
								.days-released
									p Falta 2 días para ser liberado
								span.icon-locked1
								a.btn.button-liberate-song Liberar
							.guess
								.content
									p La siguiente canción, comienza con la letra:
									.row-letters
										p.first-letter-remix3 H
										p.first-letter-remix3 T
										p.first-letter-remix3 U
						a(target='_blank').btn.button-youtube.button-remix3
							| Ver en 
							span.icon-youtube2
						.like-dislike
							span.icon-heart.icon-like-dislike-3
							span.icon-heart-broken.icon-like-dislike-3
					.col.s12.l6.col-remix
						.remix-content
							.remix-image.remix-image4
								audio.remix-4(src="client/taliam-remix/remix4.mp3")
								.remix-background-color
									.button-play-pause
										span.icons-play-pause-4.icon-play
							.remix-footer
								p Tired Of Talking (Young Bombs Remix)
							.locked-song
								.days-released
									p Falta 3 días para ser liberado
								span.icon-locked1
								a.btn.button-liberate-song Liberar
							.guess
								.content
									p La siguiente canción, comienza con la letra:
									.row-letters
										p.first-letter-remix4 T
										p.first-letter-remix4 A
										p.first-letter-remix4 Y	
						a(target='_blank').btn.button-youtube.button-soundcloud.button-remix4
							| Escuchar en 
							span.icon-soundcloud
						.like-dislike
							span.icon-heart.icon-like-dislike-4
							span.icon-heart-broken.icon-like-dislike-4
					.col.s12.l6.col-remix
						.remix-content
							.remix-image.remix-image5
								audio.remix-5(src="client/taliam-remix/remix5.mp3")
								.remix-background-color
									.button-play-pause
										span.icons-play-pause-5.icon-play
							.remix-footer
								p Troye Sivan X Alessia Cara - WILD (Young Bombs Remix)
							.locked-song
								.days-released
									p Falta 4 días para ser liberado
								span.icon-locked1
								a.btn.button-liberate-song Liberar
							.guess
								.content
									p La siguiente canción, comienza con la letra:
									.row-letters
										p.first-letter-remix5 H
										p.first-letter-remix5 W
										p.first-letter-remix5 R
						a(target='_blank').btn.button-youtube.button-remix5
							| Ver en 
							span.icon-youtube2
						.like-dislike
							span.icon-heart.icon-like-dislike-5
							span.icon-heart-broken.icon-like-dislike-5
					.col.s12.l6.col-remix
						.remix-content
							.remix-image.remix-image6
								audio.remix-6(src="client/taliam-remix/remix6.mp3")
								.remix-background-color
									.button-play-pause
										span.icons-play-pause-6.icon-play
							.remix-footer
								p Slushii - To Say Goodbye (Original Mix)
							.locked-song
								.days-released
									p Falta 5 días para ser liberado
								span.icon-locked1
								a.btn.button-liberate-song Liberar
							.guess
								.content
									p La siguiente canción, comienza con la letra:
									.row-letters
										p.first-letter-remix6 G
										p.first-letter-remix6 A
										p.first-letter-remix6 T
						a(target='_blank').btn.button-youtube.button-remix6
							| Ver en 
							span.icon-youtube2
						.like-dislike
							span.icon-heart.icon-like-dislike-6
							span.icon-heart-broken.icon-like-dislike-6
					.col.s12.l6.col-remix
						.remix-content
							.remix-image.remix-image7
								audio.remix-7(src="client/taliam-remix/remix7.mp3")
								.remix-background-color
									.button-play-pause
										span.icons-play-pause-7.icon-play
							.remix-footer
								p All I Really Need feat. Kenzie May (Vindata VIP Mix)
							.locked-song
								.days-released
									p Falta 6 días para ser liberado
								span.icon-locked1
								a.btn.button-liberate-song Liberar
							.guess
								.content
									p La siguiente canción, comienza con la letra :
									.row-letters
										p.first-letter-remix7 F
										p.first-letter-remix7 A
										p.first-letter-remix7 Y
						a(target='_blank').btn.button-youtube.button-soundcloud.button-remix7
							| Escuchar en 
							span.icon-soundcloud
						.like-dislike
							span.icon-heart.icon-like-dislike-7
							span.icon-heart-broken.icon-like-dislike-7
				.row.row-recomendar-remix
					.col.s12
						p Sabemos que tienes un buen oído para detectar Remix's buenazos
						a.btn.button-recommend-remix Recomendar
				.row.row-remix-data
					.col.s12
						input(type="text", placeholder="Nombre del Remix o Dj")
						a.btn.button-send-information Enviar
			include blocks/footer.pug			

		script(src="client/js/jquery-3.1.0.min.js")
		script(src="client/js/materialize.min.js")
		script(src="client/js/sweetalert.min.js")
		script(src="client/js/remix.js")