.footer-container
	.footer
		.container
			.row(style="margin-bottom: 0;")
				.col.s12
					a(href="https://www.facebook.com/Taliam.co", target="_blank").icon-facebook
					a(href="https://www.instagram.com/taliam.co/", target="_blank").icon-instagram
	.copyright
		.container
			.row(style="margin-bottom: 0;")
				.col.s12
					p 
						| Hecho con mucho
						span.icon-heart3
					p &copy 2016 Taliam. Todos los derechos reservados