header 
	nav
		.nav-wrapper.container
			a(href="#", data-activates="mobile-demo", class="button-collapse")
				span.icon-subject
			a(href="index.html").brand-logo TALIAM
			ul.hide-on-med-and-down
				li 
					a(href="remixes.html") REMIX'S
				li
					a(href="originales.html") ORIGINALES
				li
					a(href="conciertos.html") CONCIERTOS
			ul#mobile-demo.side-nav
				li(style="margin-top: 70px;")
					a(href="index.html") HOME
				li
					a(href="remixes.html") REMIX'S
				li
					a(href="originales.html") ORIGINALES
				li
					a(href="conciertos.html") CONCIERTOS
